body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header,
footer {
  background-color: #8d8d8d;
  color: #fff;
  padding: 10px;
  text-align: center;
}

header button,
footer button {
  background-color: #a9a9a9;
  border: none;
  color: #fff;
  padding: 8px 20px;
  cursor: pointer;
  margin: 0 10px;
}

#lessonContent {
  padding: 20px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
