body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 100vh;
  align-items: center;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%;
  padding: 10px;
}

h1 {
  margin: 0 auto; /* Centra el nombre del curso horizontalmente */
}

#backButton {
  margin-right: auto; /* Empuja el botón de regresar al menú hacia la derecha */
}

header,
footer {
  background-color: #8d8d8d;
  color: #fff;
  padding: 10px;
  text-align: center;
}

header button,
footer button {
  background-color: #a9a9a9;
  border: none;
  color: #fff;
  padding: 8px 20px;
  cursor: pointer;
  margin: 0 10px;
}
#Texto {
  
  text-align: justify;
}

#lessonContent {
  padding: 30px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 20px;
}
/* Estilos para la ventana emergente personalizada */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

#popupMessage {
  display: block;
  margin-bottom: 10px;
}

#closePopupButton {
  background-color: #007bff;
  border: none;
  color: #fff;
  padding: 8px 20px;
  cursor: pointer;
}
/* Estilos para el popup de confirmación para regresar al menú */
#backMenuPopup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

#backMenuPopup .popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

#backMenuPopup button {
  background-color: #007bff;
  border: none;
  color: #fff;
  padding: 8px 20px;
  cursor: pointer;
  margin: 0 5px;
}
#opt{
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Dos columnas de igual tamaño */
  grid-template-rows: repeat(2, 1fr); /* Dos filas de igual tamaño */
  margin-top: 20px;
}
@media (min-width: 700px) {
  #opt{
    width: 60%;
    height: 200px;
  }
}
@media (max-width: 700px) {
  #opt{
    width: 80%;
    height: 200px;
  }
  h1{
    font-size: 30px;
  }
}
#opt button{
  width: 80%;
  height: 50%;
  border: none;
  background-color: #A2D9FF;
  border-radius: 5px;
  transition: background-color .4s ease;
  text-align: center;
}
#opt button:hover{
  background-color: #57758A;
}
#imgT{
  width: 320px;
}
